.choice-grid 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.choice-grid div 
{
    width: 32.5%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    line-height: 0;
}

.choice-grid div img
{
    width: 100%;
}

.choice-grid div.color
{
    background-color: #cfe3ff;
}

.opacity
{
    opacity: 0.6;
}

#result
{ 
    padding: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

h1
{
    margin: 0;
    margin-bottom: 18px;
}

#reset
{
    background-color: #cecece;
    width: 100%;
    font-size: 20px;
    height: 50px;
    text-align: center;
}

#reset:hover
{
    background-color: #e0e0e0;
}

.hidden
{
    display: none;
}

@media (max-width: 700px)
{
    header div span
    {
        display: none;
    }

    article
    {
        margin: auto; 
        width: 95%;
    }
}

@media (max-width: 500px)
{
    .choice-grid div
    {
        width: 49%;
    }
}
